<% @comments.each do |c| %>
    <p>
        <%= link_to c.user.username, user_path(c.user), class:"btn btn-outline-dark" %> said:
        <%= c.content %><br>

        <%= link_to "Delete", tour_comment_path(c.tour_id, c.id), method: :delete, class: "btn btn-outline-danger" %> 
    </p>
    <% end %>