<% @comments.each do |c| %>

<div class="mb-3">
    <%= link_to c.user.username, user_path(c.user), class:"btn btn-outline-dark" %> said:
    <%= c.content %>
    <% if @tour && @tour.user_id == current_user.id %>
    <%= link_to "Delete", tour_comment_path(c.tour_id, c.id), method: :delete, class: "btn btn-outline-danger" %> 
    <% else %>
    <% end %>
</div>    
<% end %>