<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
  <% end %>
<% end %>

<h1 class="text-center mt-4">New User Form </h1>

<%= render 'users/form' %>