<h1 class="text-center mt-4" >VIP Tours available: </h2>

<div class="row justify-content-sm-center"><% @tours.vip.each do |t| %>
  <div class='col-4 mt-4' > 
    <div class="card text-center shadow mb-4 bg-white rounded ">
      <div class="card-header"> 
        <%= link_to t.destination.city, tour_path(t) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>
<h3 class="text-center mt-4">Tours available: </h2>
<div class="flickr_pagination">
    <%= will_paginate @tours, :container => false %>
</div>
<%= render 'tours/tour' %>