// // @import 'bulma/bulma';
@import '_layout';
// @import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    align-items: center;
    background-color: #2f74c0;
    font-family: "Poppins";
    margin-top: 10px;
    color: #2f74c0
  }